/target/
/nsw_tenement_12.dbf
/nsw_tenement_12.prj
/nsw_tenement_12.shp
/nsw_tenement_12.shx
/nsw_tenement_01_2015.dbf
/nsw_tenement_01_2015.prj
/nsw_tenement_01_2015.shp
/nsw_tenement_01_2015.shx
/nsw_tenement_01.dbf
/nsw_tenement_01.prj
/nsw_tenement_01.shp
/nsw_tenement_01.shx
